NEXT_PUBLIC_KAKAO_JS_KEY=mock_kakao_key
NEXT_PUBLIC_SUPABASE_URL=mock_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=mock_supabase_key
NEXT_PUBLIC_GA_ID=mock_ga_id
NEXT_PUBLIC_SITE_URL=http://localhost:3000
